body {
  font-family: 'Tajawal', sans-serif;
  direction: rtl;
}

.upperBar {
  background-color: #2d3436;
  color: #b2bec3;
  padding: 10px;
}

.upperBar .doctor {
  text-shadow: 2px 2px 5px #b2bec3;
  letter-spacing: 2px;
}

.navbar {
  background-color: #dfe6e9;
  padding: 20px;
  font-size: 18px;
}
